body{
    margin: 0px;
    padding: 0px;
}
.external{
    background: black;
    height: 100vh;
    display: flex
}

.general{
    background: white;
    width: 500px;
    margin: auto;
}

.mypostcad{
    margin-left: 10px;
    font-size: 30px;
    margin-top: 19px    
}

.imagen{
    height: 60px;
    margin-top: -49px;
    margin-left: 377px;
}

.text{
  width: 150px;
  float: left;
  height: 100px;
  padding: 20px;
  font-size: 13px;
}

.input-text{
    height: 100px;
    padding: 20px;
    overflow: hidden;
}

.input-interno{
    /* border: none; */
    /* border-bottom-color: black; */
}

.boton{
    color: #252526;
    background: #808080c2;
    margin-left: 190px;
}